:host {
  display: block;
  padding: 10px;
  }
  ul {
  list-style-type: none;
  }
  ul li {
  margin: 10px 0;
  }
  header, label {
  color: #53ace4;
  }
  input, select {
  background-color: #29394b;
  color: #c6c5c3;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -
  1px 0 rgba(0,0,0,0.05) inset;
  border-color: #53ace4;
  padding: 6px;
  }
  .ng-invalid:not(.ng-pristine):not(.required-
  invalid) {
  border: 1px solid #d93a3e;
  }
  input[required].ng-invalid {
  border-right: 5px solid #d93a3e;
  }
  input[required]:not(.required-invalid),
  input[required].ng-invalid:not(.required-invalid) {
  border-right: 5px solid #37ad79;
  }
  .error {
  color: #d93a3e;
  }
  #year {
  width: 50px;
  }
  button[type=submit] {
  background-color: #45bf94;
  border: 0;
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  }
  button[type=submit]:disabled {
  background-color: #333;
  color: #666;
  cursor: default;
  }