<section>
  <header>
    <h1>Liste des sessions de formation </h1>
    <p class="description">Suivre les sessions que je veux participer.</p>
  </header>
 <!--  <app-session-item [session]="firstSession"  (participantsChange)="nbrParticipantsChange($event)"></app-session-item> -->
 <app-session-item-list></app-session-item-list>
 <!-- <p class="description">Nombre total de participants : {{nbpart}}</p> -->
</section>
